<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:networkSecurityConfig="@xml/network_clear_text"
        android:name=".MyApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppManagerClient"
        tools:targetApi="31">
        <activity android:name=".InPutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".nhanvien.LoginNV"/>
        <activity android:name=".quanly.LoginQL"/>
        <activity android:name=".quanly.HomeQL" android:launchMode="singleTask"/>
        <activity android:name=".nhanvien.HomeNV" android:launchMode="singleTask"/>
        <activity android:name=".nhanvien.ThongTinDonHang_nv" />
        <activity android:name=".quanly.ThongTinDonHang_ql"
            android:parentActivityName=".quanly.HomeQL"/>
    </application>

</manifest>